.sb-release {

	.users {
		margin-bottom: -10px;
	}

	.customized-template {
		display: none;
	}

}

.release-actions {

	.show-screen {
		margin-left: 10px;
	}

}

.release-information {

	padding-top: 20px;

}