body {

	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
	color: black;

}

.box {
	position: absolute;
	left: 50%;
	top: 30%;
	width: 40%;
	max-width: 640px;

	img {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}

	> div {
		margin-top: 20px;
	}

}

h1, p {
	margin: 0 0 0.3em;
}

p {
	font-style: italic;
}

input[type=password] {
	padding: 6px 10px;
	font-size: 16px;

	&:focus {
		outline: 0;
	}

}

input[type=submit] {
	-webkit-appearance: none;
	background-color: #CCC;
	border: 0;
	font-size: 16px;
	padding: 6px 10px;
	margin-left: 10px;
	border-radius: 4px;

	&:focus {
		outline: 0;
	}

	&:hover {
		background-color: #DDD;
	}

	&:active {
		background-color: #AAA;
	}

}

.message {
	display: none;
	margin-top: 10px;
	color: red;
}

.show-error {

	.message {
		display: block;
	}

}

// Tablet
@media screen and (max-width: 768px) {

	.box {
		position: relative;
		left: auto;
		top: auto;
		margin: 20% auto;
		width: 60%;
		max-width: none;
	}

}

// Phone
@media screen and (max-width: 500px) {

	.box {
		width: 80%;
	}

	h1 {
		font-size: 1.5em;
	}

	p {
		font-size: 1em;
	}

}