// 
// All the styling for header, menu and footer
// 

.header {
	width: 100%;
	display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.25em 2.5em;
   box-sizing: border-box;
	
	&__logo {
		max-width: 400px;

		a {
			color: $color-green;

			h1 {
				margin: 0;
				display: flex;
    			align-items: center;
    			letter-spacing: 0.05em;

				img {
					width: 100%;
					max-width: 400px;
				}
			}

		}

	}

	.nav__desktop {
		padding: 0;
		margin: 0;

		&__toggle {
			display: none;
			font-size: 20px;
			color: $color-green;
		}

		&__social {

			ul {
				margin: 0.5em 0;
				padding: 0;
				text-align: right;
				display: flex;
				justify-content: flex-end;

				li {
					list-style: none;
					text-align: right;
					padding: 0 0.5em;

					a {
						font-size: 25px;
						color: $color-green;
						-webkit-transition: all 0.3s ease-in-out;
							-moz-transition: all 0.3s ease-in-out;
							  -o-transition: all 0.3s ease-in-out;
								  transition: all 0.3s ease-in-out;

						&:hover,
						&:focus {
							color: $color-orange;
						}
					}

					&:last-child {
						padding: 0 0 0 0.5em;
					}
				}
			
			}

		}

		&__main {

			ul {
				margin: 0.5em 0;
				padding: 0;
				text-align: right;
				display: flex;

				li {
					list-style: none;
					text-align: right;
					padding: 0 0.25em;
		
					a {
						padding: 0.25em;
						font-family: 'VAGrounded', sans-serif;
						color: $color-green;
						text-decoration: none;
						text-align: right;
						font-size: 20px;
						border-bottom: 3px solid transparent;
						-webkit-transition: all 0.3s ease-in-out;
							-moz-transition: all 0.3s ease-in-out;
							  -o-transition: all 0.3s ease-in-out;
								  transition: all 0.3s ease-in-out;

						&:hover,
						&:focus,
						&:active {
							border-bottom: 3px solid $color-orange;
						}

					}

					&:last-child {
						margin: 0 -0.25em 0 0;
						padding: 0 0 0 0.25em;
					}

				}

				.current-menu-item a {
					border-bottom: 3px solid $color-orange;
				}

			}

		}

	}

}

.nav__mobile {
	display: none;
	position: fixed;
	float: left;
	z-index: 99999;
	top: 0;
	bottom: 0;
	left: 0px;
	width: 300px;
	background: $color-white;
	padding: 3em 0;
	overflow-y: scroll;
	direction: ltr;
	-webkit-overflow-scrolling: touch;
	transition: z-index 0s .2s linear, -webkit-transform .2s 0s ease-in-out;
	transition: z-index 0s .2s linear, transform .2s 0s ease-in-out;
	transition: z-index 0s .2s linear, transform .2s 0s ease-in-out, -webkit-transform .2s 0s ease-in-out;

	&__close {
		position: relative;
	   float: right;
	   margin: -40px 20px 0;
	   font-size: 2rem;
	   color: $color-green;
	}

	&__main {

		ul {
			margin: 0 0 1em;
			padding: 0;

			li {
				padding: 1em 1em;
				list-style: none;
		
				a {
					padding: 0.25em 0;
					font-family: 'VAGrounded', sans-serif;
					color: $color-green;
					text-decoration: none;
					font-size: 22px;
					border-bottom: 3px solid transparent;
						-webkit-transition: all 0.3s ease-in-out;
							-moz-transition: all 0.3s ease-in-out;
							  -o-transition: all 0.3s ease-in-out;
								  transition: all 0.3s ease-in-out;

					&:hover,
					&:focus {
						border-bottom: 3px solid $color-orange;
					}

				}

			}

		}

	}

	&__social {
		margin: 0.5em 0;
    	padding: 0 1em;
    	display: flex;
		
		li {
			padding: 0 1em;
			list-style: none;

			a {
				font-size: 30px;
				color: $color-green;
				-webkit-transition: all 0.3s ease-in-out;
					-moz-transition: all 0.3s ease-in-out;
					  -o-transition: all 0.3s ease-in-out;
						  transition: all 0.3s ease-in-out;

				&:hover,
				&:focus {
					color: $color-orange;
				}
			}

			&:first-child {
				padding: 0 1em 0 0;
			}

		}
			
	}

}


.nav__overlay {
	display: none;
	z-index: 9999;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $color-gray;
	opacity: 0.5;
	transition: z-index 0s .2s linear, opacity .2s 0s ease-in-out;
}


.footer {
	width: 100%;
   text-align: center;
   padding: 1em 0;

   &__copy {

   	a {
   		margin: 0 0 0 -0.25em;
   		padding: 0.25em;
   		border-bottom: 3px solid transparent;
   		color: $color-gray;

   		&:hover,
	   	&:focus {
	   		border-bottom: 3px solid $color-orange;
	   		color: $color-gray;
	   		text-decoration: none;
	   	}

   	}

   }

}

@media all and (max-width: 1280px) {
	
	.header {
		padding: 1.25em;

		.nav__mobile {
			display: none;
		}
	}

}

@media all and (max-width: $tablet ) {

	.header {

		.nav__desktop {

			&__toggle {
				display: block;
			}

			&__social {
				display: none;
			}

			&__main {
				display: none;
			}
		}

	}

}

@media all and (max-width: $h-mobile ) {

	.header {
		
		&__logo {
			max-width: 250px;

			a {

				h1 {
					font-size: 2rem;

					img {
						width: 100%;
					}

				}
			
			}

		}

	}

}