footer.footer {
	display: inline-block;
	width: 100%;
    font-family: 'BebasNeue-Book', sans-serif;
    color: $color-white;
    	.copy{
    		width: 49.5%;
    		float: left;
                p.copyright{
                    margin: 4.5% 0;
                }
    	}
    	.socialmedia{
    		width: 50%;
    		text-align: right;
    		padding: 2% 0;
    		display: inline-block;
    			a{
    				color: $color-white;
    					.fa-instagram, .fa-facebook-official{
    						font-size: 2em;
    						margin-left: 4%;
    					}
    			}
    	}
        input.search{
            display: none;
            width: 100%;
            box-shadow: none;
            border-radius: 5px;
            min-height: 40px;
            border: none;
            background-color: #fff;
            font-size: 18px;
            letter-spacing: 1px;
            font-family: 'BebasNeue-Book', sans-serif;
        }
}