.inspirationWrap {
	text-align: center;

	.inspiration {
		display: flex;
	   flex-wrap: wrap;
	   margin: 0 -0.5em;
		
		&__article {
			flex: 1 1 25%;
	   	flex-basis: calc(25% - 20px);
	   	overflow: hidden;
	   	position: relative;
	   	width: 100%;
	   	margin: 0 .5em 1em;
	   	-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				  -o-transition: all 0.3s ease-in-out;
					  transition: all 0.3s ease-in-out;

			&__img {
				max-height: 300px;
				overflow: hidden;
			}

			&__meta {

			}

			h2 {
				margin: .1em 0 .2em;
				width: 100%;
				font-size: 20px;
				font-family: 'VAGrounded';
				text-align: left;
			}

			a {
				color: $color-gray;
				text-decoration: none;
				transition: 100ms all ease-in;
			}

		}

	}

	.pagination {
		text-align: center;
			
		.page-numbers {
			padding: .5% 1%;
		}
				
		.current {
			font-weight: 700;
		}

	}

}