.inspirationWrap {
	text-align: center;

	.inspiration {
		display: flex;
	   flex-wrap: wrap;
	   margin: 0 -0.5em;
		
		&__article {
			flex: 1 1 25%;
	   	flex-basis: calc(25% - 24px);
	   	overflow: hidden;
	   	position: relative;
	   	width: 100%;
	   	margin: 0 0.75em 1em;
	   	-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				  -o-transition: all 0.3s ease-in-out;
					  transition: all 0.3s ease-in-out;

			&__img {
				max-height: 300px;
				overflow: hidden;

				img {
					width: 150%;
   				height: auto;
				}

			}

			&__meta {

			}

			h2 {
				margin: .1em 0 .2em;
				width: 100%;
				font-size: 20px;
				font-family: 'VAGrounded';
				text-align: left;
			}

			a {
				color: $color-gray;
				text-decoration: none;
				transition: 100ms all ease-in;
			}

		}

	}

	.pagination {
		text-align: center;
			
		.page-numbers {
			padding: .5% 1%;
		}
				
		.current {
			font-weight: 700;
		}

	}

}

@media all and (max-width: $h-tablet) {

	.inspirationWrap {
	
		.inspiration {
			
			&__article {
				flex: 1 1 33%;
	    		flex-basis: calc(33% - 24px);
			}

		}

	}

}

@media all and (max-width: $tablet) {

	.inspirationWrap {
	
		.inspiration {
			
			&__article {
				flex: 1 1 50%;
	    		flex-basis: calc(50% - 24px);

	    		&__img {

	    			img {
	    				width: 125%;
	    			}
	    			
	    		}

			}

		}

	}

}

@media all and (max-width: 600px) {
	
	.inspirationWrap {
	
		.inspiration {
			
			&__article {
				flex: 1 1 100%;
				flex-basis: calc(100%);

				&__img {

	    			img {
	    				width: 100%;
	    			}
	    		}

	    	}

	   }

	}
    
}

