// 
// Styling for articlepages and underpages 
// 

.page {

	&__img {
		overflow: hidden;
		max-height: 600px;

		img {
			width: 100%;
			height: auto;
		}

	}

	&__txt {
		margin: 0 auto;
		max-width: 700px;
		width: 100%;

		h1 {
			text-align: center;
		}

		&__fourzerofour {
			text-align: center;
		}

	}

}

.single {

	&__img {
		overflow: hidden;
		max-height: 600px;
		display: flex;
    	align-items: center;

		img {
			width: 100%;
			height: auto;
		}

	}

	&__txt {
		margin: 0 auto;
		max-width: 700px;
		width: 100%;

		h1 {
			text-align: center;
		}

		&__meta {
			text-align: center;
		}

		&__description {
			text-align: center;
		}

	}

}